<div class="container mt-4">
  <div class="row mb-4">
    <div class="col">
      <h3 class="bg-light rounded px-3 py-2 d-inline-block mb-0">会員一覧</h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table align-middle" style="background: #fff;">
        <thead class="bg-light">
          <tr>
            <th>会員ID</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @customers.each do |customer| %>
            <tr>
              <td><%= customer.id %></td>
              <td>
                <%= link_to customer.last_name + customer.first_name, admin_customer_path(customer) %>
              </td>
              <td><%= customer.email %></td>
              <td>
                <% if customer.is_active? %>
                  <span style="color: #219a43; font-weight: bold;">有効</span>
                <% else %>
                  <span style="color: #888; font-weight: bold;">退会</span>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row justify-content-center mt-3">
    <div class="col-auto">
      <%= paginate @customers, theme: 'bootstrap-5' %>
    </div>
  </div>
</div>
