<div class="container mt-4">
  <div class="row">
    <div class="col-md-8 offset-md-2">

      <h4 class="mb-4 fw-bold">注文情報入力</h4>

      <div class="mb-4">
        <label class="form-label" style="font-weight: bold;">支払方法</label>
        <div class="form-check">
          <input class="form-check-input" type="radio" id="creditcard" name="payment">
          <label class="form-check-label" for="creditcard">クレジットカード</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" id="bank" name="payment">
          <label class="form-check-label" for="bank">銀行振込</label>
        </div>
      </div>

      <div class="mb-4">
        <label class="form-label" style="font-weight: bold;">お届け先</label>

        <div class="form-check">
          <input class="form-check-input" type="radio" id="myaddress" name="shipment">
          <label class="form-check-label" for="myaddress">
						ご自身の住所<br>
						<%= @customer.postal_code%> <%= @customer.address %><br>
						<%= @customer.last_name %><%= @customer.first_name %>
          </label>
        </div>

				<div class="form-check">
					<input class="form-check-input" type="radio" name="shipment" id="select-address">
					<label class="form-check-label" for="select-address">登録済住所から選択</label>

					<select class="form-select mt-2" id="address-select">
						<option value="1">〒1000001 東京都千代田区千代田</option>
						<option value="2">〒1600022 東京都新宿区新宿</option>
					</select>
				</div>

        <div class="form-check mt-2">
          <input class="form-check-input" type="radio">
          <label class="form-check-label"></label>

          <div class="row mt-2">
            <div class="col-md-4">
              <input type="text" class="form-control">
            </div>
            <div class="col-md-8 mt-2 mt-md-0">
              <input type="text" class="form-control">
            </div>
            <div class="col-md-12 mt-2">
              <input type="text" class="form-control">
            </div>
          </div>
        </div>
      </div>

      <div class="d-grid">
        <button class="btn btn-primary"></button>
      </div>

    </div>
  </div>
</div>
